@page "/login"
@using Microsoft.AspNetCore.Components.Forms
@using global::Shared.Authentication;
@using global::Shared.Users;



<h1 class="title is-3">Login</h1>
    <EditForm Model="@loginDto" OnValidSubmit="@HandleLogin">
        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email" type="email" class="form-control" @bind-Value="loginDto.Email" />
        </div>

        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="loginDto.Password" />
        </div>
        @if (!String.IsNullOrEmpty(Error))
        {
            <div class="errorcontainer">
                <p class="errormessage">@Error</p>
            </div>
        }

        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>

