@page "/logout"



@if (Loading)
{
    <div class="card-body center">
        <span class="icon is-large">
            <i class="fas fa-lg fa-solid fa-spinner fa-spin"></i>
        </span>
    </div>
}
else
{
    <h1 class="title is-3">Je bent succesvol uitgelogd</h1>

}

